.clear-both {
    clear: both;
}

.appointment-prop {
    width: calc(100% - 0.5rem);
}

.event {
    padding: 3px 5px;
    font-size: 0.8rem;
    border-radius: 5px;
    user-select: none;
}

#weekNumber {
    cursor: default;
}

#calendar-table {
    > div > div:first-of-type {
        display: inline;
        margin: 0;
    }

    > div > h3 {
        border-right: 1px solid #ced4da;
    }

    :last-child h3 {
        border-right: none;
    }

    > div {
        padding: 0;
    }
}

h3 {
    font-size: 1rem;
}